* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.size {
  font-size: 72px;
  background-color: red;
  text-transform: uppercase;
}
.center {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 72px;
}
.change {
  font-size: 34px;
  color: blue;
}
